<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta name="viewport" content="width=device=width,initial-scale=1.0">
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}"/>  
  <title>Ahmed Hussien's Website</title>
</head>
<body>
  <section class="container">
  <div class="first">
  <h1>
    Welcome to <span>Ahmed Hussien</span> world! 
  </h1>
  <h3>
    Front-end and Back-end devolper.
  </h3>
  <p>
Hello! I'm a web developer with extensive knowledge in creating websites that are both user friendly and stylish.
I shift from front-end developing and grew to ​​backend practice with Django.
My dream is to create high-performing, user-friendly, and responsive web applications.  
  </p>
    <a href="https://wa.me/message/NRQCAQQCJ65SM1" class="btn">Here Me</a>
  </div>
  <div class="first">
  <img id="My_photo" src="{% static 'image/Ahmed.png' %}" alt="" />
  </div>
  </section>
  
  <section class="container">
    <div class="second">
  <h3>   
  Skills
  </h3>
  <p>
    <ul>
      <li>HTML5 & CSS3</li>
      <li>JavaScript(M - I)</li>
      <li>Responsive Web Design</li>
      <li>User Experience Principles</li>
      <li>Version Control (Git & GitHub)</li>
      <li>Search engine Optimization (SEO)</li>
      <li>Django Backend Development</li>
    </ul>
  </p>
    </div>
    <div class="second">
      <img id="logo" src="{% static 'image/logo.jpg' %}" alt="" />
    </div>    
    </section>
  
  <section class="container">
    <div class="third">
  <h3>
    While gaining experience, some of the projects I created are listed below.
  </h3>
  <p>
    <ol>
      <span2><li>Personal Portfolio Site</li></span2>
      <ul>
        <li>Built a responsive personal portfolio to present my works and proficiencies.</li>
        <li>HTML, CSS, JavaScript for an enchanted adventure.</li>
        <li>Employ GitHub to store your codebase as version-controlled repository.</li>
      </ul>
      <span2><li>A Simple Landing Page</li></span2>
      <ul>
        <li>Built a responsive creative landing page for an imaginary product.</li>
        <li>Clean UI and design with an accent on accessibility</li>
      </ul>
      <span2><li>To-do app to learn JavaScript</li></span2>
      <ul>
        <li>Performing fundamental CRUD operations.</li>
      </ul>
      <span2><li>Django Applied Web Application</li></span2>
      <ul>
        <li>Built a website like application with full-stack (server and client) in Django.</li>
        <li>Enhance the functionality with implementation of authentication, ORM and REST APIs.</li>
        <li>Adherence with best practices from the realms of scalability & security.</li>
      </ul>
    </ol>
  </p>
  </div>
      <div class="third">
        <img id="photo1" src="{% static 'image/photo1.jpg' %}" alt=""/>
      </div>
  </section>
  
  <section class="container">
    <div class="fourth">
  <h3>
  What I Can..?
  </h3>
  <p>
    <ul>
      <li>Create responsive, modern and scalable web sites.</li>
      <li>Create and maintain clean code to make it easy to maintain.</li>
      <li>Optimize the website to achieve speed and search engine friendly.</li>
      <li>Git and GitHub — working with version control</li>
      <li>Create highly scalable backend systems with Django.</li>
    </ul>
  </p>
    </div>
    <div class="fourth">
     <img id="photo2" src="{% static 'image/photo2.jpg' %}"/>
    </div> 
  </section>
  
  
  <section class="container">
    <div class="sixth">
  <h3>
  My projects:
  </h3>
  <p>
    <ul>
      <li><a href="https://alemam3.pythonanywhere.com/" target="_blank">My first project</a></li><p>(username: admin, password:admin)</p>
    </ul>
  </p>
    </div>
    <div class="sixth">
     <img id="photo3" src="{% static 'image/photo3.jpg' %}"/>
    </div> 
  </section>
  
  <div class="fifth">
    <h3>
Contact I'm looking for a freelance project, or opportunity to collaborate with you! </br>
    </h3>
    <p>
Email: a7med.h.e.2004@gmail.com </br>
GitHub: Ahmed-Hussien232@github.com </br>
  </p>
  </div>
  
  
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <a class="navbar-brand" href="#">Ahmed Hussien's portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active"><a class="nav-link" href="page1.html">Home</a></li>

        </ul>
    </div>
</nav> 
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>       
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  

</body>
</html>
